# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
*.egg-info/
dist/
build/
# Виртуальное окружение

venv/
env/
.venv/

# IDE и редакторы
.vscode/
.idea/
.DS_Store

# FastAPI (если используете)
.cache/
frontend/static/picture/482df2af-3b35-4444-bbbe-6334a7d9dfdb.png
frontend/static/picture/c29034e0-f71f-4422-aa03-f56a7bd610f4.jpg
frontend/static/picture/d9e176c5-d170-49f4-a4ef-cd1958f5fe37.png
