.main{
	width: 1080px;
	height: auto;
	margin: 80px auto;
}
.main__container{
	display: flex;
	grid-column-gap: 20px;
}
.exhibition__column{
	width: 100%;
}
.exhibition__column h1{
	padding: 20px;
	margin: 0;
}
.exhibition__main > .exhibition:first-child {
	border-radius: 20px 20px 0 0;
}

.exhibition__main > .exhibition:last-child {
	border-radius: 0 0 20px 20px;
}

.exhibition{
	background-color: #fff;
	padding: 24px 24px 0 24px;
}
#exhibitionsContainer .exhibition:last-child .exhibition__border {
	display: flex;
	padding-bottom: 24px;
}
#exhibitionsContainer .exhibition:not(:last-child) .exhibition__border {
	border-bottom:1px solid rgba(153, 153, 153, 0.3);
	display: flex;
	padding-bottom: 24px;
}
.exhibition__img img{
	flex-shrink: 0;
	margin-right: 16px;
	width: 234px;
	height: 132px;
	border-radius: 12px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.exhibition__right > *:not(:last-child) p, h3{
	margin: 0;
}
.exhibition__right{
	display: flex;
	width: 100%;
	flex-direction: column;
}
.exhibition__title{
	font-weight: bolder;
}
.exhibition__description{
	color: #999999;
}
.exhibition__datacreate{
	margin-top: auto;
}